<p id="notice"><%= notice %></p>
<h2><%= @player.first_name %></h2>

<% Player.find(:all, :conditions => "id <> #{@player.id}").each do |opponent| %>
<% wins = Game.winning_games_for(@player) %>
<% wins_for_player = wins.games_for_players(@player, opponent).size %>
<% wins_for_opponent = Game.games_for_players(opponent, @player).size - wins_for_player %>
<img src=<%= "http://chart.apis.google.com/chart?chs=200x225&cht=p&chco=80C65A|346A14&chd=t:#{wins_for_player},#{wins_for_opponent}&chdl=#{@player.first_name}-#{wins_for_player}|#{opponent.first_name}-#{wins_for_opponent}&chtt=Wins+Versus+#{opponent.first_name}"%> width="200" height="225" alt="" />
<% end %>
<br>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Player List', players_path %>
