<h2>Scenario List</h2>

<%= link_to 'New Scenario', new_scenario_path %>
<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>

<% @scenarios.each do |scenario| %>
  <tr>
    <td><%= scenario.code %></td>
    <td><%= scenario.name %></td>
    <td><%= scenario.scenario_date.strftime("%d-%b-%Y") unless scenario.scenario_date.nil? %></td>
    <td><%= link_to 'Edit', edit_scenario_path(scenario) %></td>
    <td><%= link_to 'Destroy', scenario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scenario', new_scenario_path %>
